<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="./signup.css">

</head>
<body>


<div id="login-box">
  <div class="left">
    <h1>Sign up</h1>
    <form action="#" th:action="@{/signup}" th:object="${userform}" method="post">
    <input type="text" th:field="*{username}"  name="username" placeholder="Username" />
    <input type="text" th:field="*{email} " name="email" placeholder="E-mail" />
    <input id="pass1" type="password" th:field="*{password}" name="password" placeholder="Password" />
    
    <input type="submit"  value="Sign me up" />
    </form>    
  </div>

  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
  </div>
  <div class="or">OR</div>


</div>

</body>
